/* GRID oppsett for body forside */
#bodyforside {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr; 
    grid-gap: 10px; 
    grid-template-areas: 
        "header header header"
        "main main aside"
        "footer footer footer";   
}

/* Header GRID oppset */
header {
    grid-area: header; 
    display: grid; 
    grid-template-rows: 5fr 1fr;
    text-align: center; 
    border: 1px solid grey; 
    border-radius: 10px;
    background-image: url(bilder/headerbakgrunn.png);
    background-size: 100%; 
    background-repeat: no-repeat; 
}

/* Forside */
header h1 {
    margin: 0 auto; 
    margin-top: 100px; 
    font-size: 100px; 
    color: rgba(2, 2, 2, 0.9); 
}

/* Navigasjon */
nav {  
    padding: 20px; 
    border-top: 1px solid grey; 
    border-radius: 10px; 
    background-color: rgba(211, 211, 211, 0.6); 
}

nav a {
    padding: 20px; 
    text-decoration: none;
    color: black;
    font-size: 20px; 
}

nav a:hover {
    text-decoration: underline; 
    box-shadow: 0px 0px 10px 10px grey; 
}

/* Main GRID oppsett */
main {
    grid-area: main;
    display: grid; 
    grid-template-columns: 1fr;   
}

/* Flex rundt artiklene i Main */
#flexitems {
    display: flex; 
    flex-direction: row; 
}

#flexitems article {
    justify-content: space-between; 
    margin: 10px;
    width: 60%;   
}

.forsidebilder{
    max-width: 95%;   
    border: 1px solid grey; 
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey; 
}

.forsidetekst {
    font-family: Arial; 
    font-size: 15px; 
    text-align: justify;
}

#flexitems a { 
    padding: 8px; 
    background-color: darkgray; 
    color: black; 
    text-decoration: none; 
    border-radius: 10px;  
}

#flexitems a:hover {
    box-shadow: 0px 0px 8px 8px grey; 
}

/* Sidekolonne forside GRID oppsett */
aside {
    grid-area: aside; 
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-gap: 20px; 
    margin-top: 77px; 
    border-radius: 10px; 
    box-shadow: 5px 5px 5px grey; 
    text-align: center;
    background-image: url(bilder/bilde4.jpg); 
    padding: 5px; 
}

#ressurser {
    grid-area: aside; 
    margin-top: 10px;  
}

.artikkellinker {
    margin-top: 5px; 
}

#sidekolonneforside section a {
    display: block; 
    font-size: 16px; 
    color: darkblue; 
}

#sidekolonneforside section a:hover {
    background-color: rgba(128, 128, 128, 0.8);
}

#githubknapp {
    border: 1px solid grey; 
    width: 30%; 
    margin: 0 auto;  
    padding: 10px; 
    border-radius: 10px;
    text-decoration: none;
    background-color: rgba(231, 240, 248, 0.6); 
}

/* Footer GRID oppsett */
footer {
    grid-area: footer; 
    display: grid; 
    grid-template-columns: 1fr;  
    margin: 0 auto; 
}

/*Skisse side*/
#skisseoverskrift {
    text-align: center; 
}

#skisser {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
}

.skisser {
    width: 30%; 
}

.skissebilde {
    max-width: 100%; 
    border: 1px solid; 
    border-radius: 10px; 
    box-shadow: 5px 5px 5px grey; 
}

.skissecaption {
    text-align: center; 
}

/* Artikkel sider GRID oppsett */
.artikkelside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10px; 
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"; 
}

/* Main artikkelside GRID oppsett */
#mainartikkelside {
    grid-area: main; 
    display: grid;
    grid-template-columns: 1fr;  
}

.artikkeloverskrift {
    text-align: center; 
}

.artikkeltekst {
    text-align: justify; 
    font-size: 18px; 
}

.artikkelbilde {
    grid-area: main; 
    float: right; 
    width: 40%; 
    text-align: center; 
    margin-left: 20px; 
    margin-right: 5px; 
    margin-top: 0px;
}

.artikkelbilder {
    max-width: 100%;
    border: 1px solid grey; 
    border-radius: 10px; 
    box-shadow: 5px 5px 5px grey; 
}

#oppgave4liste li {
    list-style-type: none; 
}